* text=auto

# Text files that should be normalized
*.c text
*.h text
*.py
*.json
*.txt text
*.rst
*.pdsc
*.css
*.svd

# Binary files that should not be normalized
*.a binary
*.lib binary
*.pdf binary
